body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: black; 
}

.parallax {
  height: 120vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  #section1 {
    background-image: url(media/makeup.jpeg);
  }
  
  #section2 {
    background-image: url(media/makeup.jpeg);
  }
  
  #section3 {
    background-image: url(media/makeup.jpeg);
  }
  
  #section4 {
    background-image: url(media/makeup.jpeg);
  }
  
  .content {
    text-align: center;
    color: rgb(255, 255, 255);

    

    
  }
  
